<template id="myaccounts-page" type="text/x-handlebars-template">
	<h4 style="margin-top:-10px; margin-bottom:30px" > My Saved Accounts </h4>

	<div class="row">
	
		
		<div class="col-md-12">

				<div id="accountsIconArea">
					
				</div>
		  
		</div>

	</div>
</template>

<template id="accountIcon" type="text/x-handlebars-template">
	<div class="col-md-4  no-gutter">

		<div class="panel panel-default " id=""  >
			<div class="panel-heading">
				Google
			</div>
			<img src="https://i.kinja-img.com/gawker-media/image/upload/s--pEKSmwzm--/c_scale,fl_progressive,q_80,w_800/1414228815325188681.jpg" width="100%">
		
			 <div class="panel-footer">

			 	<button type="submit" onclick="return showSavedAccountSettings({{id}})" class="btn btn-primary  btn-fill pull-right">
			 		<i class="pe-7s-news-paper"></i>
			 	</button>

			 	<b>  {{loginUrl}}  </b> <br>
				{{accountUsername}}

			</div>
		</div>	
	</div>
</template>

<div id="modalContaner">

</div>

<template id="accountSettingDialogTemplete" type="text/x-handlebars-template">

	<div id="accountSettingDialogModal" data-curid="-1" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		       	 <button type="button" class="close" data-dismiss="modal">&times;</button>
		       	 <h4 class="modal-title">Saved Site Settings</h4>
		      </div>
		      <div class="modal-body">
		     	   	

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<form>

										<label style="font-weight: 200;"> Website Url </label>
										<input type="text" class="form-control" value="{{loginUrl}}" aria-describedby="basic-addon2">
										<br>

										<label style="font-weight: 200;"> Name </label>
										<input type="text" class="form-control"  value="{{loginUrl}}"  aria-describedby="basic-addon2">
										<br>

										<label style="font-weight: 200;"> Username </label>
										<input type="text" class="form-control"  value="{{accountUsername}}"  aria-describedby="basic-addon2">
										<br>

										<label style="font-weight: 200;"> Password </label>
										<input type="text" class="form-control" value="llll" aria-describedby="basic-addon2">
										<br>

										<hr>

										 <button type="button" class="btn btn-fill  btn-danger " data-dismiss="modal" >Delete Account</button>

									
									</form>
								</div>
							</div>
						</div>
						<div style="display:none" class="loader" > Loading </div>
						<div class="clearfix"></div>

		      </div>
		      <div class="modal-footer">
		     	   <button type="button" class="btn btn-fill  btn-info" onclick="doEditPostFromDialog()">Save</button>
		     	   <button type="button" class="btn btn-fill  btn-error" data-dismiss="modal" >Cancel</button>
		      </div>
		    </div>

		  </div>
	</div>

</template>




<style type="text/css">
	

	.no-gutter {
	    padding-right:16px;
	    padding-left:0;
	}

</style>


<script type="text/javascript">
	

var accountsTemplate = Handlebars.compile($("#myaccounts-page").html());
var accountsIconTemplete = Handlebars.compile($("#accountIcon").html());
var accountSettingDialogTemplete = Handlebars.compile($("#accountSettingDialogTemplete").html());

allAccounts = {}

function showAccountsPage()
{
	$(".nav > li").removeClass("active");
	$("#myAccountstButton").parent().addClass("active");
	// setUrlSmart("postsQueue" , "Posts Queue");

	$("#mainContentArea").html(  accountsTemplate() );
	 $(window).scrollTop(0);



	 API.SavedAccounts.getAll( null , null , null , function(e , r){
		if(!(e))
		{
			for( var i=0; i<r.length;i++)
			{
				allAccounts[r[i].id] = r[i]
  				$("#accountsIconArea").html(  $("#accountsIconArea").html()  +  accountsIconTemplete(r[i]) )
			}
		}

	} )

	$.validate();
	 
	return false;
}

function showSavedAccountSettings(id)
{
	$("#modalContaner").html(accountSettingDialogTemplete(allAccounts[id]));

	$("#accountSettingDialogModal").modal('toggle');
}





</script>