<!--  QUEUED POSTS PAGE TEMPLATE  -->



<template id="queuedPosts-page" type="text/x-handlebars-template">
	<h4 style="margin-top:-10px; margin-bottom:30px" > Discover Content </h4>

	<div class="row">
	
		<div class="col-md-4"> 
			<div class="list-group downloadSection" style="display: block;">

				<div class="list-group no-border">
					<!-- <span class="list-group-item active">Download Data</span> -->
					<a class="list-group-item no-border" href="">Discover Posts</a>
					<a class="list-group-item no-border" href="">Discover Pages</a>
					 <a class="list-group-item no-border" href="">Discover Pages</a>
				</div>

				 <div class="list-group no-border">
					<span class="list-group-item active">Categories</span>
					<a class="list-group-item no-border" href="">Cat 1</a>
					<a class="list-group-item no-border" href="">Cat 2 </a>
				</div>
					   
			</div>

		</div>

		<div class="col-md-8">

				<div class="card" id="NewQueuePostBox" >
					<div class="header">
						<h4 class="title">Add Post</h4>
					</div>
					<div class="content">
						<form>	

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Add Post</label>
										<textarea id="textareaNewQueuePost" rows="3" class="form-control" placeholder="Here can be your post"   data-validation="required"  data-validation-length="min4"  > </textarea>
									</div>
								</div>
							</div>
							<div style="display:none" class="loader" > Loading </div>
							<button type="submit" onclick="return addFormPostQueue()" class="btn btn-primary btn-fill pull-right">Add</button>
							<div class="clearfix"></div>
						</form>

					</div>
				</div>

				

				<center>
					<br>
					<h6> Queued Posts : </h6>
					<br><br>

				</center>
				<div class="loader toploader"> </div>
				<div id="queuedPostsArea"> </div>
				<div class="loader bottomloader"> </div>
		  
		</div>

	</div>
</template>


<template id="queuedpost-template" type="text/x-handlebars-template">
	<div class="panel panel-default" id="queuedpost-{{id}}"  >
		<div class="panel-heading">
			{{title}}
		</div>
		 <div class="panel-body">
			<div class="text">{{text}}</div>
			<hr>

			<div class="text-right">
				<button  style="margin-right:10px" onclick="addQuueuedPostToQueue('{{id}}')" type="button" class="btn btn-info btn-sm btn-fill pull-right">Post now</button>
				<button  style="margin-right:10px" onclick="deletePostToQueue('{{id}}')" type="button" class="btn btn-error btn-sm btn-fill pull-right">
					<i class="pe-7s-trash"></i>
				</button>
				<button  style="margin-right:10px" onclick="editDialogPostToQueue('{{id}}')" type="button" class="btn btn-error btn-sm btn-fill pull-right">Edit</button>
			</div>

			<div class="loader"> Loading .. </div>
			
		</div>
	
	</div>
</template>






<div id="editQueuedPostModel" data-curid="-1" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	       	 <button type="button" class="close" data-dismiss="modal">&times;</button>
	       	 <h4 class="modal-title">Edit Post</h4>
	      </div>
	      <div class="modal-body">
	     	   	

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<form>
									<label> Edit content here</label>
									<textarea id="textareaEditQueuePost" rows="3" class="form-control"  data-validation="required" placeholder="Here can be your post"   data-validation="required"  data-validation-length="min4"  > </textarea>
								</form>
							</div>
						</div>
					</div>
					<div style="display:none" class="loader" > Loading </div>
					<div class="clearfix"></div>

	      </div>
	      <div class="modal-footer">
	     	   <button type="button" class="btn btn-fill  btn-info" onclick="doEditPostFromDialog()">Save</button>
	     	   <button type="button" class="btn btn-fill  btn-error" data-dismiss="modal" >Cancel</button>
	      </div>
	    </div>

	  </div>
</div>



























<script type="text/javascript">
	

var queuedPostsPageTemplate = Handlebars.compile($("#queuedPosts-page").html());
var queuedPostsTemplate =  Handlebars.compile($("#queuedpost-template").html()); 


function showQueuedPostsPage()
{
	$(".nav > li").removeClass("active");
	$("#queuedPostsButton").parent().addClass("active");
	// setUrlSmart("postsQueue" , "Posts Queue");

	$("#mainContentArea").html(  queuedPostsPageTemplate() );
	 $(window).scrollTop(0);

	 API.QueuedPosts.getAll( 20  , null , null , function(e,r ){
	 	for (var i =0 ; i < r.length; i++) {
	 		$("#queuedPostsArea").append(queuedPostsTemplate( r[i] ));
	 	}
	 });


	 $.validate();
	 


	
	return false;
}




function addFormPostQueue()
{
	var text = $("#textareaNewQueuePost").val();

	pic = null;


	$("#NewQueuePostBox").find(".loader").show();
	

	API.QueuedPosts.addNew(accessToken , "475262980" , (new Date()).toString()  , text , pic , function(e , r){
		if(!(e))
		{
			$("#textareaNewQueuePost").val("");
			showNotific("Your post have beeen queued");
			$("#NewQueuePostBox").find(".loader").hide();
			 showQueuedPostsPage();
		}

	} )

	
		

	return false;

}


function addModalPostQueue()
{
	var text = $("#textareaNewQueuePostFromModal").val();

	pic = null;


	$("#addQueuedPostModel").find(".loader").show();
	

	API.QueuedPosts.addNew(accessToken , "475262980" , (new Date()).toString()  , text , pic , function(e , r){
		if(!(e))
		{
			$("#textareaNewQueuePostFromModal").val("");
			showNotific("Your post have beeen queued");
			$("#addQueuedPostModel").find(".loader").hide();
			 // showQueuedPostsPage();
			  $("#addQueuedPostModel").modal('toggle');
		}
		

	} )

	
		

	return false;

}

function deletePostToQueue(id)
{
	// $("#queuedpost-" + id).fadeOut(300, function(){ $(this).remove();});
	$("#queuedpost-" + id).find('.loader').show();
	API.QueuedPosts.remove(  accessToken , id , function( e ,r ){
		$("#queuedpost-" + id).find('.loader').hide();
		if(!(e))
		{
			$("#queuedpost-" + id ).slideUp(300, function() {
		    	$(this).remove();
			});
		}
		else{
			showNotific("Error in deleting!")
		}
	} )
	
	

}

function editDialogPostToQueue(id)
{
	$("#editQueuedPostModel").modal();
	$('#editQueuedPostModel').attr('data-curid' , id );
	$("#textareaEditQueuePost").val(  $("#queuedpost-" + id ).find(".text").text()  );
}


function doEditPostFromDialog()
{
	var id = $('#editQueuedPostModel').attr('data-curid');
	var text = $("#textareaEditQueuePost").val();
	var pic = null;
	API.QueuedPosts.update( accessToken ,  id , null , text , pic , function( e , r ){
		if(!(e))
		{
			 $("#editQueuedPostModel").modal('toggle');
			 showNotific("Post updated :) ");
			 showQueuedPostsPage();
		}
	})
}






</script>
