




<template id="settings-page" type="text/x-handlebars-template">

	<center>
		<h4 style="margin-top:-10px; margin-bottom:30px" > Settings </h4>
	</center>
	


	<div class="row">

		<div class="col-md-8 col-md-offset-2">


			<div class="card">
                <div class="header text-center">
                    <h5 class="title">Record Audio</h5>
					<br>
                </div>
                <div class="content">
                    
                    <div class="row">
						<div class="col-md-12">
						hahhaha
						</div>
					</div>

                </div>
            </div>



			 <div class="card">
                <div class="header text-center">
                    <h4 class="title">Setting one</h4>
                    <p class="category">Are you looking for more components? Please check our Premium Version of Light Bootstrap Dashboard.</p>
					<br>
                </div>
                <div class="content">
                    
                    <div class="row">
						<div class="col-md-12">
						hahhaha
						</div>
					</div>

                </div>
            </div>

             <div class="card">
                <div class="header text-center">
                    <h5 class="title">Connected Account</h5>
                    <p class="category">Here you can reconnect or change the connected account.</p>
					<br>
                </div>
                <div class="content">
                    
                    <div class="row">
						<div class="col-md-12">
						hahhaha
						</div>
					</div>

                </div>
            </div>

             <div class="card">
                <div class="header text-center">
                    <h4 class="title">Setting one</h4>
                    <p class="category">Are you looking for more components? Please check our Premium Version of Light Bootstrap Dashboard.</p>
					<br>
                </div>
                <div class="content">
                    
                    <div class="row">
						<div class="col-md-12">
						hahhaha
						</div>
					</div>

                </div>
            </div>


		</div>

	</div>

</template>






<script type="text/javascript">
		


</script>




<script type="text/javascript">
	
	var settingssPageTemplate = Handlebars.compile($("#settings-page").html());


	function showSettingsPage()
	{
		
		$(".nav > li").removeClass("active");
		$("#settingsPageButton").parent().addClass("active");
		// setUrlSmart("postsQueue" , "Posts Queue");

		$("#mainContentArea").html(  settingssPageTemplate() );
		$(window).scrollTop(0);

		return false;
	}



</script>